.container {
    &__hero {
        @include container;

        .hero-aboutme {
            &__container {
                position: absolute;
                right: 30px;
                top: 25px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            &__photo {
                width: 45px;
                height: 45px;
                border-radius: 56px;
                border: 21px solid #F4F4F4;
                background: url('/assets/images/profile.png') center top no-repeat;
                background-size: cover;
                margin-left: 12px;
            }
        }

        .hero-content {
            &__container {
                position: relative;
                margin-top: 150px; 
                max-width: 700px; 
            }
        }
    }
}